:root{
    --main-background-color: #111;
    --text-color: white;
    --triton-blue: rgb(0, 149, 230);
    --triton-yellow: #ffcd00;
}

body{
    background-color: var(--main-background-color);
    font-family: 'Gill sans', 'Trebuchet MS', sans-serif;
}

@keyframes home-name-animation {
    0% {color: var(--text-color);}
    33% {color: var(--triton-yellow);}
    66% {color: var(--triton-blue);}
}

@keyframes home-university-animation {
    0% {color: var(--triton-yellow);}
    33% {color: var(--triton-blue);}
    66% {color: var(--text-color);}
}

@keyframes home-city-animation {
    0% {color: var(--triton-blue);}
    33% {color: var(--text-color);}
    66% {color: var(--triton-yellow);}
}

@media screen and (max-width: 900px){

    .active{
        background-color: white;
        color: black;
        font-weight: bolder;
    }

    li > a.menu{
        padding: 0.5em;
        box-sizing: border-box;
        display: block;
        width: 10%;
        border-top: 1px solid #333;
        text-decoration: none;
        color: var(--text-color);
    }

    li > a:hover{
        background-color: white;
        color: black;
    }


    nav  {
        position: sticky;
        label{
            display: inline-block; 
            color: white;
            background: var(--triton-blue);
            font-style: normal;
            font-size: 1.2em;
            padding: 10px;
        }
    }

    ul { 
        display: none;
    }

    nav input:checked ~ ul { 
        display: block;
        list-style-type: none;
        
    }
    input#hamburger{
         opacity: 0; 
    }

    #home-grid{
        display: grid;
        grid-template-rows: auto auto;
        justify-content: safe;
        align-content: center;
    }

    .home-image-responsive{
        position: relative;
        display: block;
        max-width: 100%;
        height: auto;
        padding-left: 26vw;
        padding-top: 5vh;
    }

    h2#home-name{
        font-size: 6dvw;
        grid-column: 1;
        grid-row: 2;
        margin: 0;
        padding-top: 3dvh;
        display: block;
        text-align: center;
    }

    h2#home-university{
        font-size: 6dvw;
        grid-column: 1;
        grid-row: 2;
        margin: 0;
        padding-top: 9dvh;
        display: block;
        text-align: center;
    }

    h2#home-city{
        font-size: 6dvw;
        grid-column: 1;
        grid-row: 2;
        margin: 0;
        padding-top: 15dvh;
        display: block;
        text-align: center;
    }

    iframe{
        display: grid;
        justify-content: center;
        height: 80dvh;
        width: 75vw;
        margin-left: 13vw;
    }

    img#fluffy-mascot, img#stuntman{
        padding-left: 15px;
    }

    #gallery{
        display: grid;
        margin: 30px 20px;
        grid-template-rows: auto auto auto auto;
        align-content: center;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 901px){

    /* navbar */

    .active{
        background-color: white;
        color: black;
        font-weight: bolder;
    }

    li > a{
        margin: 0.5em;
        /* width : 5em; */
        padding : 1em;
        color: var(--text-color);
        text-decoration: none;
    }

    li > a:hover{
        background-color: white;
        color: black;
    }

    nav {
        top: 0;
        margin: 0;
        padding: 0;
        font-size: 1.25em;
    }

    ul#nav-menu{
        position: sticky;
        list-style-type: none;
        justify-content: center;
        /* flex-wrap: wrap; */
        display : flex;
        color : black;
        background-color: var(--main-background-color);
        margin: 0;
        padding : 0;
    }

    label{
        /* display: none; */
        visibility: hidden;
    }
    input#hamburger{ visibility: hidden;}
    /* navbar */

    /* home page */
    #home-grid{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: safe;
        align-content: center;
    }
    
    .home-image-responsive{
        max-width: 100%;
        height: auto;
        padding-left: 25vw;
        padding-top: 20vh;
    }

    h2#home-name{
        font-size: 2.5dvw;
        grid-column: 2;
        grid-row: 1;
        margin: 0;
        padding-top: 35dvh;
        padding-right: 15vw;
        display: block;
        text-align: center;
    }
    
    h2#home-university{
        font-size: 2.5dvw;
        grid-column: 2;
        grid-row: 1;
        margin: 0;
        padding-top: 40dvh;
        padding-right: 15vw;
        display: block;
        text-align: center;
    }

    h2#home-city{
        font-size: 2.5dvw;
        grid-column: 2;
        grid-row: 1;
        margin: 0;
        padding-top: 45dvh;
        padding-right: 15vw;
        display: block;
        text-align: center;
    }
    /* home page */

    iframe{
        height: 90dvh;
        width: 45vw;
        margin-left: 25vw;
    }

    /* gallery */
    img#fluffy-mascot, img#stuntman{
        padding-left: 15px;
    }

    #gallery{
        display: grid;
        margin: 30px 20px;
        grid-template-columns: auto auto;
        align-content: center;
        justify-content: space-evenly;
    }
    /* gallery */

    /* links */
    ul#link-list{
        list-style-type: none;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        margin: 0;
        padding : 0;
    }
    /* links */
    

}

.about{
    text-align: center;
    padding: 0;
    padding-left: 15vw;
    padding-right: 15vw;
    list-style-type: none;
    color: white;
}

h2{
    color: var(--text-color);
}

h2.about {
    padding: 0;
    padding-top: 5vh;
    border: 0;
    font-size: 4em;
}

h2#home-name{
    animation-name: home-name-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: var(--text-color);

}

h2#home-university{
    animation-name: home-university-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: var(--triton-yellow);

}

h2#home-city{
    animation-name: home-city-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: var(--triton-blue);

}

h2.links{
    text-align: center;
}

h2#photo-gallery, h2#resume-title{
    text-align: center;
}


h3{
    color: var(--text-color);
}


iframe{
    /* margin-left: 27vw; */
    margin-right: auto;
}

legend{
    text-align: center;
}

li > a.language:hover{
    color: var(--triton-yellow);
    background-color: var(--triton-blue);
}

.github-link{
    font-size: 1.5rem;
    color: var(--triton-blue);
}

.email-link{
    font-size: 1.5rem;
    color: var(--triton-yellow);
}

ol{
    list-style-type: none;
    li {
        padding: 2dvh;
    }
}

#photo-gallery{
    padding-top: 1em;
}

